<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/client_info.css}" href="/../static/css/client_info.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- sidebar -->
<div class="sidebar">
    <div class="logo-details">
        <a th:href="@{/menu}">
            <i class='bx bx-dumbbell' id="main_icon"></i>
        </a>
        <div class="logo_name" id="homeBtn">ADMIN PANEL</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a th:href="@{/menu/clients}" href="#" id="clientInfoBtn">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Clients</span>
            </a>
            <span class="tooltip">Client administration</span>
        </li>
        <li>
            <a th:href="@{/menu/memberships}" href="#" id="membershipDetailsBtn">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Memberships</span>
            </a>
            <span class="tooltip">Membership configuration</span>
        </li>
        <li>
            <a th:href="@{/menu/visits}" href="#" id="visitsBtn">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Visits</span>
            </a>
            <span class="tooltip"></span>
        </li>

        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Eduard B</div>
                    <div class="job">Developer</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>
<!-- sidebar -->

<!-- Content section -->
<section class="home-section" id="home">
    <div class="container">
        <div>
            <h2>Client Info</h2>
            <ul class="withoutBullets">
                <li><strong>ID:</strong> <span th:text="${client.id}"></span></li>
                <li><strong>Name:</strong> <span th:text="${client.name}"></span></li>
                <li><strong>Email:</strong> <span th:text="${client.email}"></span></li>
                <li><strong>Birthday:</strong> <span th:text="${client.birthday}"></span></li>
                <li><strong>Phone:</strong> <span th:text="${client.phone}"></span></li>
            </ul>
            <br>
            <a th:href="@{/clients/{id}/edit(id=${client.id})}" class="edit-button">Edit</a>
            <a th:href="@{/clients/{id}/delete(id=${client.id})}" class="delete-button">Delete</a>
            <br>
        </div>
        <div>
            <h2>Membership Info</h2>
            <ul>
                <li th:each="membership : ${client.memberships}" class="withoutBullets">
                    <span><strong>Membership type:</strong> <span th:text="${membership.membershipTypeName}"></span></span><br>
                    <span><strong>Start Date:</strong> <span th:text="${membership.startDate}"></span></span><br>
                    <span><strong>End Date:</strong> <span th:text="${membership.endDate}"></span></span>
                </li>
            </ul>
            <br>
            <a th:href="@{/clients/{id}/memberships}" class="edit-button">Manage</a>
<!--            <a th:href="@{/clients/{id}/edit(id=${client.id})}" class="edit-button">Manage</a>-->

            <br><br><br><br>
        </div>
        <div>
            <h2>Visits</h2>
            <ul>
                <li th:each="visit : ${client.visits}" class="withoutBullets">
                    <span><strong>Visit Date:</strong> <span th:utext="${visit.date}"></span></span><br>
                    <span><strong>Visit Start Time:</strong> <span th:utext="${visit.startTime}"></span></span>
                </li>
            </ul>
            <br>
            <a th:href="@{/clients/{id}/visits}" class="edit-button">Manage</a>
            <br>
        </div>
    </div>
</section>
<!-- Content section -->

<!-- JS -->
<script th:src="@{/js/layout_config.js}" src="/../static/js/layout_config.js"></script>

</body>
</html>
